header {
    height: 90px;
    position: fixed;
    z-index: 4;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    font-size: rem(15px);
    font-weight: 700;
    color: #707070;
    width: 100vw;
    background-color: white;
    &.home {
        box-shadow:none; 
    }
    @include for-mobile-layout {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    }
    .right-container {
        margin-right: 2.5vw;
        .property-type-btns {
            font-size: rem(16px);
            width: rem(169px);
            height: rem(36px);
            border-radius: em(5px);
            border: em(1px) solid #696a72;
            font-weight: 400;
            line-height: rem(34.28px);
            > button {
                width: 50%;
                height: 100%;
            }
            > button:nth-child(1) {
                color: $clr2;
            }
            > button:nth-child(2) {
                color: $clr4;
                background-color: $clr1;
            }
        }
        .welcome {
            div {
                color: $clr1;
                letter-spacing: em(2.5px);
            }
            button {
                font-weight: 700;
                font-size: rem(15px);
                margin-inline-start: 2vw;
            }
        }
        > span {
            margin-inline-start: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            span {
                margin-left: em(5px);
                margin-right: em(6px);
            }
            .icon {
                width: inherit;
                height: 18px;
                margin-left: 1px;
                margin-bottom: 1.5px;
            }
        }
        @include for-mobile-layout {
            .hamburger {
                margin-right: 2vw;
                width: 35px;
                margin-bottom: 10px;
                cursor: pointer;
                .bar1,
                .bar2,
                .bar3 {
                    height: 6px;
                    background-color: $clr1;
                    margin: 5px 0;
                    transition: 0.4s;
                }
                .bar1 {
                    &.close-icon {
                        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                        transform: rotate(-45deg) translate(-9px, 6px);
                    }
                }
                .bar2 {
                    &.close-icon {
                        opacity: 0;
                    }
                }
                .bar3 {
                    &.close-icon {
                        -webkit-transform: rotate(45deg) translate(-8px, -8px);
                        transform: rotate(45deg) translate(-8px, -8px);
                    }
                }
            }
        }

        @include for-mobile-layout {
            align-items: center;
            .property-type-btns,
            span {
                display: none;
            }
            .welcome {
                display: none;
            }
            &.opened {
                justify-content: end;
                flex-direction: column;
                padding: 20px 0;
                background-color: $clr4;
                flex-grow: 1;
                margin-right: 0;
                height: 55vh;
                max-width: 50%;
                box-shadow: 1px 1px 3px 1px gainsboro;
                .hamburger {
                    align-self: flex-start;
                }
                span {
                    display: block;
                    margin-block-start: 12px;
                    &:last-of-type {
                        display: flex;
                        align-items: baseline;
                        span {
                            margin-top: 0;
                        }
                    }
                }
                .welcome {
                    display: block;
                    order: 2;
                    font-size: rem(18px);
                    div {
                        display: none;
                    }
                    button {
                        align-self: center;
                        margin-block-start: 40px;
                        margin-inline-start: 5vw;
                        color: $clr4;
                        background-color: $clr1;
                    }
                }
                .property-type-btns {
                    display: block;
                    width: 80%;
                    font-size: rem(10px);
                    justify-self: flex-end;
                }
            }
        }
    }
    .left-container {
        margin-left: 2.5vw;
        > span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            cursor: pointer;
            span {
                margin-left: 2vw;
            }
            .icon {
                width: inherit;
            }
        }
        
        @include for-mobile-layout {
            align-items: center;
            span {
                display: none;
                &.logo {
                    margin: 0 0;
                    display: block;
                }
            }
        }
    }
    .logo {
        direction: ltr;
        width: rem(200px);
        margin-right: 5vw;
        @include for-mobile-layout {
            margin-right: 0;
            margin-left: 6vw;
        }
    }
    @include for-mobile-layout {
        align-items: stretch !important;
    }
}
